:root {
  --main-text-color: #757575;
  --main-bg-color: #ffffff;
  --accent-color: #2196f3;
  --main-title-color: #212121;
}
body {
  font-family: 'Roboto', sans-serif;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  color: #757575;
  margin-bottom: 0;
}
h3 {
  font-size: 700;
  color: #212121;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
address {
  font-style: normal;
}
h2 {
  color: var(--main-bg-color);
}
textarea {
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
  border-color: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

textarea {
  resize: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.logo {
  display: block;
  margin-right: 93px;
  padding-bottom: 32px 0;
  font-family: 'Raleway', normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-title-color);
}
.logo-web {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  font-family: 'Raleway', normal;
}
.logo-st {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  font-family: 'Raleway', normal;
  color: var(--main-bg-color);
}
.logo-list-title {
  font-weight: 500;
  font-size: 14px;
  line-height: ;
  color: var(--main-text-color);
}
.logo-booton {
  margin-top: 20px;
}
.logo-booton-adress {
  margin-top: 20px;
}
.footer {
  align-items: baseline;
}
.footer-contacts {
  color: var(--main-text-color);
  background: #2f303a;
}
.footer-section {
  align-items: baseline;
  display: flex;
}
.contacts {
  box-sizing: border-box;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover {
  color: var(--main-text-color);
}
.contacts:focus {
  color: var(--main-bg-color);
}
.contacts-address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-bg-color);
}
.contacts-link {
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.contacts-link .contacts-icon:hover {
  color: var(--accent-color);
}
.contacts-link-top {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link-top:hover {
  color: var(--accent-color);
}
.contacts-link-top:focus {
  color: var(--accent-color);
}
.contacts-link-top {
  width: 16px;
  height: 12px;
  display: block;
  margin-left: 10px;
  display: inline-flex;
  justify-content: start;
}
.contacts-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-tel:hover {
  color: var(--accent-color);
}
.contacts-tel:focus {
  color: var(--accent-color);
}
.contacts-tel-top {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-tel-top:hover {
  color: var(--accent-color);
}
.contacts-tel-top:focus {
  color: var(--accent-color);
}
.contacts-tel-top {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-flex;
}
.contacts-top {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.contacts-item {
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header {
  border-bottom: 1px solid #ececec;
}
.contacts-icon {
  margin-right: 10px;
}
.header-contacts {
  margin-left: auto;
}
.header-container {
  display: flex;
  align-items: center;
}
.solution-col {
  max-width: 1600px;
  padding: 200px 0;
  border-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/overlay.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.solution {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  color: var(--main-bg-color);
}

.footer-contacts {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
}
.features {
  display: flex;
  justify-content: center;
}
.features-title:not(:last-child) {
  margin-right: 30px;
}
.features-title {
  display: inline-block;
  line-height: 1.7;
  color: var(--main-title-color);
}
.features-item {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.features-text {
  display: inline-block;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.features-icon {
  background-color: #f5f4fa;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-icon::not(:last-child) {
  margin-right: 30px;
}
.work-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--main-title-color);
}
.works-main {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.work-section {
  margin-top: 94px;
  padding-top: 0px;
}
.work-list {
  display: flex;
}
.works-item:not(:last-child) {
  margin-right: 30px;
}
.team {
  display: flex;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  flex-basis: calc((100% - 90px) / 4);
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-our {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--main-title-color);
}
.team-title {
  color: var(--main-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}
.team-title-text {
  padding-top: 30px;
}
.card-text {
  margin-top: 20px;
}
.team-text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.18;
}
.team-section {
  background: #f5f4fa;
}
.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.nav-list {
  latter-spacing: 0.03em;
}
.nav-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  color: var(--accent-color);
}
.nav-list-title {
  display: block;
  font-weight: 500;
  padding: 32px 0;
  font-size: 14px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-title:hover {
  color: var(--accent-color);
}
.nav-list-title:focus {
  color: var(--accent-color);
}
.nav-list-title.current {
  color: var(--accent-color);
}
.nav-list-title.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  background-size: contain;
}
.btn {
  display: flex;
  margin: auto;
  text-align: center;
  position: center;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
  background-color: var(--accent-color);
}
.btn:focus {
  background-color: var(--accent-color);
}

.nav-button-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-transform: none;
  outline: none;
  border: navajowhite;
  padding: 6px 22px;
  cursor: pointer;
  border-radius: 4px;
  background: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-button-item:hover {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.nav-button-item:focus {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.nav-title:not(:last-child) {
  margin-right: 8px;
}
.nav-cont {
  display: flex;
  margin-left: auto;
  list-style: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.nav-cont .site-nav-item + .site-nav-item {
  margin-left: 30px;
}
.nav-contact {
  display: flex;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.site-nav-item {
  display: flex;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.site-nav-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.project {
  margin-bottom: 94px;
  margin-left: -30px;
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
}
.project .project-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
.project-link:hover,
.project-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.item {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-bottom: 4px;
  padding-left: 24px;
}

.item * {
  outline: solid #757575;
}
.text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  padding-left: 24px;
}
.footer {
  background: #2f303a;
  padding: 60px 0;
}

.customers-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--main-title-color);
}
.sotial-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.sotial-item:not(:last-child) {
  margin-right: 10px;
}
.customers-icon:hover,
.customers-icon:focus {
  border: var(--accent-color);
  color: var(--accent-color);
}
.sotial-item:not(:last-child) {
  margin-right: 10px;
}
.sotial-link {
  color: #afb1b8;
  width: 100%;
  height: 100%;
  background: var(--main-bg-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms (0.4, 0, 0.2, 1);
}

.sotial-link:hover,
.sotial-link:focus {
  fill: var(--accent-color);
  color: var(--main-bg-color);
  background-color: var(--accent-color);
}
.sotial-link {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(175, 177, 184, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sotial-icon {
  justify-content: center;
  align-content: center;
  fill: currentColor;
}
.social-list {
  display: flex;
  justify-content: center;
}
.team-sotial {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.customers-list {
  list-style: none;
  display: flex;
}
.customers-item {
  width: 170px;
  height: 92px;
}
.customers-item:not(:last-child) {
  margin-right: 30px;
}
.customers-link {
  fill: var(--main-text-color);
}
.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  color: #afb1b8;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.icon {
  margin-right: 10px;
}
.customers-icon {
  fill: currentColor;
}
.join {
  margin-left: 70px;
}
.join-item {
  width: 44px;
  height: 44px;
}
.join-item:not(:last-child) {
  margin-right: 10px;
}

.join-list {
  display: flex;
}
.join-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-icon:hover,
.join-link:focus {
  background-color: var(--accent-color);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.join-link:hover,
.join-link:focus {
  fill: var(--accent-color);
}
.join-link {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: rgba(175, 177, 184, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-p {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}
.contact-icon-footer {
  margin-left: 10px;
  fill: currentColor;
}
.contact-icon-footer:not(:last-child) {
  margin: 0;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  background: #ffffff;
}
.modal-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 1.12;
  color: rgba(33, 33, 33, 1);
}
.close-btn:hover {
  fill: #2196f3;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-bg-color);
}
.close-btn:hover {
  background-color: var(--main-bg-color);
  outline-color: var(--accent-color);
}
.close-icon {
  width: 11px;
  height: 11px;
  background-color: var(--main-bg-color);
}
.work-modal {
  position: relative;
  margin-right: 30px;
}
.work-modal-p {
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  text-transform: uppercase;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  line-height: 1.14;
  font-size: 14px;
  bottom: 0;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
.portfolio-box {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 1);

  transform: translateY(100%);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0, 03em;
  font-style: normal;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.project-link:hover .portfolio-overlay,
.project-link:focus .portfolio-overlay {
  transform: translateY(0);
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form-btn {
  display: block;
  margin: auto;
  text-align: center;
  position: center;
  align-self: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid var(--accent-color);
  padding: 10px 55px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  text-decoration: none;
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-btn:hover .contact-form-btn:focus {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  color: var(--main-bg-color);
}

.contact-form-lab {
  font-size: 12px;
  margin-bottom: 20px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.contact-form-lab :before {
  content: '';
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
}
.contact-form-text {
  height: 120px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 1);
  cursor: pointer;
}
.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input + .contact-form-input {
  margin-top: 40px;
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.contact-form-input:focus + .contact-form-svg {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.contact-form-text {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: rgba(117, 117, 117, 1);
}
.contact-form-area {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-area:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-area::placeholder {
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.contact-form-conditions {
  align-items: center;
  justify-content: center;
  padding-right: 8px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-conditions:hover {
  color: var(--accent-color);
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
}
.contact-form-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-svg:hover {
  fill: var(--accent-color);
}
.contact-form-chackbox {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}

.chackbox-icon {
  border: 2px solid #212121;
  border-radius: 4px;
  width: 18px;
  height: 18px;
  margin-right: 7px;
}
.contact-form-conditions:checked ~ .chackbox-icon {
  border-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
}
.contact-form-a {
  text-decoration: underline;
  color: var(--accent-color);
}

.contact-form-icon {
  display: block;
  margin-top: 6px;
  position: relative;
}
.contact-form-footer {
  display: inline-flexbox;
  margin-left: 93px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.contact-form-input-footer {
  width: 358px;
  height: 50px;
  padding-left: 20px;
  margin: 0 auto;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  background: rgba(47, 48, 58, 1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.contact-btn-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  color: var(--main-bg-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-btn-footer:hover {
  border-color: var(--accent-color);
}
.contact-btn-footer:focus {
  background-color: var(--accent-color);
}

.contact-footter-text {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.colform {
  display: flex;
}
.colform-lbl {
  margin: 0;
  margin-right: 12px;
}
