.colform__btn-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  color: var(--main-bg-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.colform__btn-footer:hover {
  border-color: var(--accent-color);
}
.colform__btn-footer:focus {
  background-color: var(--accent-color);
}
.colform__icon-footer {
  margin-left: 10px;
  fill: currentColor;
}
.colform__icon-footer:not(:last-child) {
  margin: 0;
}
